body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #8c52ff, #e2a9f1);

}

/* NAVBAR */* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
}

.navbar {
    background: #E2A9F1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #5CE1EC;
    background-image: linear-gradient(to top, #8C52FF 0%, #5CE1EC 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #FFE7FD;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.8rem;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height:  100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #5CE1EC;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.button:hover {
    background-color: rgba(60, 180, 200, 0.85);
    transition: background-color 0.3s ease;
}

.navbar__links:hover {
    color: #FAD4F6;
    text-decoration: underline;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #FFE7FD;
    }

    .navbar__menu.active {
        background: #E2A9F1;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: auto;
        padding-bottom: 1rem;
        font-size: 1.6rem
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #8C52FF
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: block;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Footer CSS */
.footer__container {
    background-color: #E2A9F1;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    background-color: #5CE1EC;
    background-image: linear-gradient(to top, #8C52FF 0%, #5CE1EC 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__link--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__links--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.footer__links--items h2 {
    margin-bottom: 16px;
    font-family: 'Quicksand', sans-serif;
}

.footer__links--items h2:hover {
    color: #FAD4F6;
    text-decoration: underline;
}

.footer__links--items > h2 {
    color: #FFE7FD;
}

.footer__links--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-family: 'Quicksand', sans-serif;
}

.footer__links--items a:hover {
    color: #D9D9D9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
    padding: 0 40px;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__icon--link:hover {
    color: #D9D9D9;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-wdith: 480px) {
    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

/* HERO FIXED SPACING */
.hero {
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

.hero__left {
    width: 33%;
}

.hero__left img {
    width: 100%;
}

.hero__right {
    width: 67%;
}

/* ACCORDION SPACING */
#mainAccordion {
    margin: 40px;
}

.ui-accordion-header {
    margin-top: 20px;
    padding: 20px;
    background: #5ce1e6 !important;
    border-radius: 12px;
}

.ui-accordion-content {
    padding: 30px;
    background: white !important;
    border-radius: 12px;
}

/* TEXT SPACING */
p, li {
    margin-top: 10px;
    line-height: 1.7;
}

/* GAME */
.gameBox {
    padding: 20px;
}

/* BUTTON */
#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px;
    border-radius: 10px;
}

/* FOOTER */
.footer__container {
    background: #E2A9F1;
    padding: 50px;
}

.footer__links {
    display: flex;
    justify-content: space-around;
}