.header {
    display: flex;
    flex-direction: column;
}

.maintext {
    color: #FFE7FD;
    float: left;
    text-align: left;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bar {
    background-color: #E2A9F1;
    overflow: hidden;
}

.bar a {
    float: left;
    color: #FFE7FD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bar a:hover {
    background-color: #b2eaec;
    color: #8C52FF;
}

.bar a.open {
    background-color: #ad70bd;
    color: #FFE7FD;
}

.bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}